main h1 {
	font-size: 60px;
	background-color: rgb(120, 38, 60);
	color: #FAFFFA;
	text-align: center;
	font-family: "Open Sans", "Arial", sans-serif;
}

h2 {
	font-size:40px;
	font-family: "Open Sans", "Arial", sans-serif;
}

blockquote {
	background-color: #D9E5E3;
}