body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
}

h1, h2 {
	font-family: "Open Sans Condensed", sans-serif;
}

h1 {
	text-align: center;
	color: #FFFFFF;
	background-color: #851944;
}

p {
	text-align: justify;
}

aside {
	background-color: #3C1D3D;
	color: #F2FFFC;
}

body > footer {
	background-color: #000000;
	color: #F2FFFC;
}

nav a {
	color: #F2FFFC;
}

main a {
	color: #851944;
}

aside a {
	color: inherit;
	font-family: 'Open Sans Condensed', sans-serif;
}